<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <!-- Template para envio de Email -->

    <h1>Correo enviado desde GO</h1>
    <h2>Muchas gracias por recibir este mensaje {{.Name}}</h2>

    <img src="https://cdn.dribbble.com/users/743744/screenshots/3847043/media/8ce067f4bdd8b4f03fcbbdf7a2791b15.jpg?compress=1&resize=400x300" alt="Golang">
    
</body>
</html>